@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(255, 210, 210),  rgb(0, 132, 255));
    width: 100%;
    font-family: Arial, sans-serif;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding:10px;
    position: fixed;
    top:0;
    right:-20;
    width:100%
}
.logo-container{
    display:flex;
    align-items: center;
}
.logo{
    margin-right: 20px;
}
.logo > .logoimg{
    width:50px;
}
.logo > .logoname{ 
    width:100px;
}
.heading{
    text-align: center;
    flex-grow: 1;
    width:50%;
    max-width:1000px;
}
.nav-tabs ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.nav-tabs a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding:18px 15px;
    transition: all 0.6s;
}
.nav-tabs a:hover {
    background-color: rgb(11, 76, 136);
    color:beige
}
/* Style main content container */
.Contener {
    
    max-width: 1200px;
    margin: 60 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Flexbox layout for .Main containeSr */
.Main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}
h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}
.box {
    flex: 1;
    padding: 20px;

}
.box_out{
    margin-left:20px;
    flex-basis:90%
}
/* Style form elements */
.input_box {
    margin-bottom: 8px;
    width:100%
}

.lbl {
    display: block;
    font-weight:bold;
    font-family: 'Manrope', sans-serif;
}
.ollbl {
    display: block;
    font-weight: lighter;
    font-size: 0.8rem;
    font-family: 'Manrope', sans-serif;
}

.tbox {
    position: static;
    width: 100%;
    outline:none;
    font-weight:lighter;
    font-size: 1rem;
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
}
.Contener .row{
    display:flex;
    gap:15px;
}
/* Style image */
img[name="imgPhoto"] {
    max-width: 100%;
    height: 220px;
    width: 180px;
    display: block;
    margin: 0 auto;
    border: 1px solid #6d6767;
    box-shadow:  0 5 5 rgba(0,0,0,0.5);
}

/* Style buttons */
.btnadd{
    position: relative;
    padding: 10px 20px;
    left: 12px;
    background-color:#143252;
    color: rgb(233, 224, 224);
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    margin-right: 10px;
    margin-top:26px;
    transition: background-color 0.3s;
    transition: all 0.6s;
	box-shadow: 0 2px 2px rgba(0,0,0.2);
}
.btnadd:hover{
    background-color: #6d6767;
}
.btn {
    position: relative;
    padding: 10px 20px;
    left: 350px;
    background-color:#007bff;
    color: rgb(17, 17, 17);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
    margin-right: 10px;
    margin-top:20px;
    transition: background-color 0.3s;
    transition: all 0.6s;
	box-shadow: 0 2px 2px rgba(0,0,0.2);
}

.btn:hover {
    background-color: rgb(109, 86, 204);
	color: white;
}
/* Style footer */
.footer-distributed{
    background: #181616;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

  /* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

.footer-distributed img{
    width:50px;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}
  /* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}
.footer-distributed .footer-company-name{
    color:  #868585;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
  /* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}
.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
    content: none;
}

  /* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    margin:10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color:  #181616;
    border-radius: 2px;
    font-size: 20px;
    color: #c9c2c2;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-right .social{
    width:30px;
    margin:1px;
}
